.categories-container {
  background: #1e1e1e;
  padding: 15px;
}

/* .categories-container .category-block {
  background: green;
}

.categories-container .category-block .category-content {
  border: 1px solid red;
  text-align: center;
}

.categories-container .category-block .category-content .category-title {
  color: #f9f9f9;
}

.categories-container .category-block .category-content .subCategoryBtn {
  outline: 0;
  border: 0;
  background: #000;
  color: #f9f9f9;
  margin-right: 6px;
} */
